@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?68589674');
  src: url('font/fontello.eot?68589674#iefix') format('embedded-opentype'),
       url('font/fontello.woff?68589674') format('woff'),
       url('font/fontello.ttf?68589674') format('truetype'),
       url('font/fontello.svg?68589674#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68589674#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-map:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
body.menu-open{
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Global
   ========================================================================== */
.container{
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}
.header{
  height: 856px;
  padding-top: 72px;
  background: #332B2B;
  position: relative;
  overflow: hidden;
}
.header > *{
  z-index: 1;
  position: relative;
}
.header:after{
  content: ' ';
  width: 664px;
  height: 644px;
  border-radius: 700px;
  background: #393232;
  position: absolute;
  left: 50%;
  margin-left: -332px;
  top: 120px;
  z-index: 0;
}
.logo{
  background: url(../img/global_logo.png) no-repeat;
  width: 110px;
  height: 99px;
  margin: 0 auto 70px;
}
.header__intro{
  padding-left: 118px;
  padding-top: 73px;
  position: relative;
}
.header__introHeading{
  font-family: 'Playfair Display';
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 21px;
  margin-top: 0;
}
.header__introSubHeading{
  font-family: 'Merriweather Sans';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #ffffff;
  margin-bottom: 53px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 75px;
  position: relative;
  margin-top: 0;
}
.header__introSubHeading:before{
  width: 62px;
  height: 1px;
  background: #C88F44;
  content: ' ';
  position: absolute;
  top: 10px;
  left: 0;
}
.header__introText,
.header__introLink{
  margin-left: 75px;
}
.header__introText{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 28px;
  margin-left: 75px;
  color: #ffffff;
  margin-bottom: 32px;
  font-weight: 300;
  max-width: 472px;
}
.header__introLink{
  font-family: 'Merriweather Sans';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.48px;
  color: #C88F44;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}
.me{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/global_me.png) no-repeat;
  width: 197px;
  height: 198px;
}
.header__container{
  max-width: 832px;
  margin: 0 auto 221px;
  padding: 0 60px;
}
.footer{
  height: 390px;
  background: #332B2B;
  position: relative;
  overflow: hidden;
  padding-top: 72px;
}
.footer > *{
  z-index: 1;
  position: relative;
}
.footer:after{
  content: ' ';
  width: 664px;
  height: 644px;
  border-radius: 700px;
  background: #393232;
  position: absolute;
  left: 50%;
  margin-left: -332px;
  top: 120px;
  z-index: 0;
}
.footer__intro{
  text-align: center;
  color: #ffffff;
}
.footer_name{
  font-family: 'Merriweather Sans';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #ffffff;
  margin-bottom: 53px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer_text{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 32px;
  font-weight: 300;
}
.footer_textLink{
  color: #ffffff;
}
/* ==========================================================================
   Content
   ========================================================================== */
.cv{
  padding: 187px 0 139px;
}
.cv__header{
  font-family: 'Merriweather Sans';
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 3.49px;
  color: #C88F44;
  margin-bottom: 58px;
  text-align: center;
}
.cv__subHeader{
  font-family: 'Playfair Display';
  font-size: 53px;
  line-height: 75px;
  color: #929292;
}
.cv__subHeaderSmall{
  font-size: 27px;
  margin-bottom: 12px;
}
.cv__lastUpdated{
  position: relative;
  font-family: 'Merriweather Sans';
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.38px;
  color: #4E4E4E;
  padding-left: 75px;
}
.cv__lastUpdated:before{
  width: 62px;
  height: 1px;
  background: #C88F44;
  content: ' ';
  position: absolute;
  top: 10px;
  left: 0;
}
.cv__subHeadingContainer{
  margin: 0 auto 137px;
  width: 300px;
}
.cv__menuText{
  -webkit-transform: rotate(90deg) translateX(29px);
      -ms-transform: rotate(90deg) translateX(29px);
          transform: rotate(90deg) translateX(29px);
  -webkit-transform-origin: 0% 0% 0;
      -ms-transform-origin: 0% 0% 0;
          transform-origin: 0% 0% 0;
  width: 172px;
  font-family: 'Merriweather Sans';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.48px;
  color: #C88F44;
  text-transform: uppercase;
}
.cv__menuText .icon-map{
  -webkit-transform: rotate(-90deg) translateX(-22px) translateY(6px);
      -ms-transform: rotate(-90deg) translateX(-22px) translateY(6px);
          transform: rotate(-90deg) translateX(-22px) translateY(6px);
  -webkit-transform-origin: 0% 0% 0;
      -ms-transform-origin: 0% 0% 0;
          transform-origin: 0% 0% 0;
  color: #AE7373;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.cv__menuText .icon-map:hover{
  -webkit-transform: rotate(-90deg) translateX(-22px) translateY(10px);
      -ms-transform: rotate(-90deg) translateX(-22px) translateY(10px);
          transform: rotate(-90deg) translateX(-22px) translateY(10px);
}
.cv__content{
  padding-left: 83px;
  max-width: 900px;
  font-family: Georgia, Times, ‘Times New Roman’, serif;
  font-size: 22px;
  line-height: 41px;
}
.cv__contentLink{
  color: #C88F44;
  text-decoration: underline;
}
.cv__section{
  margin-top: 96px;
}
.cv__section:first-child{
  margin-top: 0;
}
.cv__sectionMarginSmall{
  margin-top: 30px;
}
.keySkill__single{
  width: 30%;
  float: left;
  font-family: 'Merriweather Sans';
  font-size: 18px;
  line-height: 20px;
  color: #4C4C4C;
  text-transform: uppercase;
  margin-bottom: 66px;
}
.keySkill__singleText{
  margin-bottom: 15px;
}
.experience{
  color: #4C4C4C;
}
.cv__contentHeading{
  font-weight: 700;
  margin: 0;
}
.cv__contentSubHeading{
  font-weight: 400;
  margin-top: 0;
}
.cv__paragraph{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 32px;
  color: #4C4C4C;
  font-weight: 300;
}
.cv__contentSmallGrey{
  font-size: 14px;
  font-style: italic;
  color: #787878;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;
}
.cv__smallHeading{
  font-weight: 700;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
}
.experience .cv__content{
  padding-top: 50px;
}
.experience .cv__content:first-child{
  padding-top: 0px;
}
.contents{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(51,43,43,0.96);
  z-index: 9999;
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: -webkit-transform .25s ease-in-out 0.1s, opacity .25s ease-in-out 0.1s;
          transition: transform .25s ease-in-out 0.1s, opacity .25s ease-in-out 0.1s;
  overflow-y: auto;
  height: 100%;
}
.contents__inner{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.contents__title{
  font-family: 'Playfair Display';
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 58px;
  text-align: center;
}
.contents__list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px;
  margin: 0 auto;
}
.contents__listItem{
  font-family: 'Merriweather Sans';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 75px;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.contents__listItem a{
  color: #ffffff;
  -webkit-transition: color .25s ease-in-out;
          transition: color .25s ease-in-out;
  text-decoration: none;
}
.contents__listItem a:hover{
  color: #C88F44;
}
.contents__listItem:before{
  width: 62px;
  height: 1px;
  background: #C88F44;
  content: ' ';
  position: absolute;
  top: 10px;
  left: 0;
}
.contents__close{
  cursor: pointer;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  margin-bottom: 70px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 690px) {
  .header{
    height: auto;
  }
  .header__container{
    margin-bottom: 110px;
  }
  .header:after{
    display: none;
  }
  .header__intro{
    padding-left: 0;
    text-align: center;
    padding-top: 0;
  }
  .header__introSubHeading{
    padding-left: 0;
  }
  .header__introSubHeading:before{
    display: none;
  }
  .header__introText, .header__introLink{
    margin-left: 0;
  }
  .me{
    display: none;
  }
  .keySkill__single{
    width: 100%;
    margin-bottom: 40px;
  }
  .cv__content{
    padding-left: 50px;
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-size: 18px;
    line-height: 33px;
  }
  .cv{
    padding: 116px 0 139px;
  }
  .cv__subHeadingContainer {
    margin: 0 auto 85px;
  }
  .stripe-form{
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 400px) {
  .cv__content{
    padding-left: 30px;
  }
  .cv__subHeader{
    font-size: 40px;
  }
  .cv__lastUpdated{
    padding-left: 26px;
  }
  .cv__lastUpdated:before{
    width: 19px;
  }
  .cv__header{
    font-size: 20px;
    margin-bottom: 24px;
  }
  .footer_name{
    margin-bottom: 34px;
  }
  .cv__subHeadingContainer {
    width: 247px;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
